.single__nft__card {
  padding: 20px;
  background-color: #F0F0F0;
  border-radius: 0px;
}

.nft__img img {
  border-radius: 0px;
}

.nft__img {
  margin-bottom: 15px;
}

.nft__title {
  margin-bottom: 15px;
  text-align: center;
}

.nft__title a {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.nft__title a:hover {
  color: #F89104;
}


.creator__img {
  width: 50px;
  height: 50px;
}

.creator__info h6 {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.772);
  margin: 1em 0 0 0;
  padding: 0;
  font-weight: 300;
}

.creator__info p {
  font-size: 0.8rem;
  color: #141414;
  margin: -0.75em 0;
  padding: 0;
  font-weight: 500;
}


.owner__info h6 {
  font-size: 0.8rem;
  color: #141414;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.owner__info p {
  font-size: 1.15rem;
  margin: -0.25em 0 0 0;
  padding: 0;
}

.price__info h6 {
  font-size: 0.9rem;
  color: #141414;
  font-weight: 500;
  margin: 1em 0 0 0;
  padding: 0;
}

.price__info p {
  font-size: 1.15rem;
  margin: -0.25em 0 0 0;
  padding: 0;
}


.bid__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0px;
  transition: 0.3s;
  background: #141414;
}

.bid__btn:hover {
  background: #F89104;
  color: #fff;
}

.history__link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.772);

  font-size: 0.9rem;
}

.history__link a:hover {
  color: #fff;
}

.live__auction__top h3 {
  color: #fff;
}

.live__auction__top span a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #5142fc;
}

.history__link {
  text-decoration: none;
  color: #F89104;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 85%;
}

.history__link:hover {
  color: #D87E01;
}
