.selling__content h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}


.explore__more__btn {
  background: #F89104;
  border: none;
  border-radius: 0px !important;
  color: #FFF;
  font-size: 1rem;
  margin: -1.1em 0 0 0;
  outline: none;
  padding: 0px 40px !important;
  text-align: center;
  text-transform: uppercase;
}

.explore__more__btn:hover {
  background: #D87E01;
}

.single__nft__card {
  padding: 20px;
  background-color: #FFF;
  border-radius: 0px;
}

.nft__img {
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* makes the height equal to the width */
  position: relative;
}

.nft__img img {
  border-radius: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:100%;
  object-fit: contain;
}

.nft__title {
  margin-bottom: 15px;
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nft__title a {
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}

.nft__title a:hover {
  color: #000;
}

.creator__img {
  width: 50px;
  height: 50px;
}

.creator__info h6 {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.772);
  margin: 1em 0 0 0;
  padding: 0;
  font-weight: 300;
}

.creator__info p {
  font-size: 0.8rem;
  color: #141414;
  margin: -0.75em 0;
  padding: 0;
  font-weight: 500;
}


.owner__info h6 {
  font-size: 0.8rem;
  color: #141414;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.owner__info p {
  font-size: 1.15rem;
  margin: -0.25em 0 0 0;
  padding: 0;
}

.price__info h6 {
  font-size: 0.9rem;
  color: #141414;
  font-weight: 500;
  margin: 1em 0 0 0;
  padding: 0;
}

.price__info p {
  font-size: 1.15rem;
  margin: -0.25em 0 0 0;
  padding: 0;
}


.bid__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0px;
  transition: 0.3s;
  background: #141414;
}

.bid__btn:hover {
  background: #F89104;
  color: #fff;
}

.history__link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.772);

  font-size: 0.9rem;
}

.history__link a:hover {
  color: #fff;
}

.live__auction__top h3 {
  color: #fff;
}

.history__link {
  text-decoration: none;
  color: #F89104;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 85%;
}

.history__link:hover {
  color: #D87E01;
}


.explore__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0px;
  transition: 0.3s;
  background: #141414;
}

.explore__btn:hover {
  background: #F89104;
  color: #fff;
}

.explore__btn a {
  color: #fff;
  text-decoration: none;
}

.explore__btn a:hover {
  color: #fff;
  text-decoration: none;
}


.original__address{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.copy__to__clipboard {
  border: none;
  outline: none;
  padding: 0px 2px;
  background: transparent;
  font-size: 1rem;
  color: #F89104;
  border-radius: 0px;
  transition: 0.3s;
}

.copy__to__clipboard:hover {
  color: #D87E01;
}