.common__section {
  background: linear-gradient(
    rgba(34, 34, 44, 0.9), 
    rgba(34, 34, 44, 0.9)
    ),url("../../../assets/images/bluebg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1em;
  padding-top: 80px;
}

.common__section h2 {
  color: #EEE;
}