/** Card wrapper style */
.single__nft__card {
  padding: 12px;
  background-color: #FFF;
  border-radius: 0px;
}

/** Product image - cover image */
.nft__img {
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* makes the height equal to the width */
  position: relative;
}

.nft__img img {
  border-radius: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:100%;
  object-fit: contain;
}

/** Product Header */
.nft__title {
  margin-bottom: 0px;
  margin-top: 5px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nft__title a {
  color: #000;
  font-family: "Cinzel", serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}

.nft__title a:hover {
  color: #D87E01;
}


.owner__info {
  line-height: normal;
  margin: 0;
  padding: 0;
}

.owner__info p {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.owner__info span {
  font-weight: 400;
  margin: 0;
}


.product__stars {
  color: #F89104;
  line-height: normal;
  margin: -0.35em 0 0 0;
}




.creator__img {
  width: 50px;
  height: 50px;
}

.creator__info h6 {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.772);
  margin: 1em 0 0 0;
  padding: 0;
  font-weight: 300;
}

.creator__info p {
  font-size: 0.8rem;
  color: #141414;
  margin: -0.75em 0;
  padding: 0;
  font-weight: 500;
}



.history__link{
  margin: 1em 0;
  background-color: #000;
  padding: 5px 30px;
  border: 1px solid #252525;
  border-radius: 0px;
  font-weight: 500;
}



.price__info h6 {
  font-size: 0.9rem;
  color: #141414;
  font-weight: 500;
  margin: 1em 0 0 0;
  padding: 0;
}

.price__info p {
  font-size: 1.15rem;
  margin: -0.25em 0 0 0;
  padding: 0;
}


.buy__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0px;
  transition: 0.3s;
  background: #141414;
}

.buy__btn:hover {
  background: #F89104;
  color: #fff;
}

.history__link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.772);

  font-size: 0.9rem;
}

.history__link a:hover {
  color: #fff;
}

.live__auction__top h3 {
  color: #fff;
}

.history__link {
  text-decoration: none;
  color: #F89104;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 85%;
}

.history__link:hover {
  color: #D87E01;
}


.explore__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0px;
  transition: 0.3s;
  background: #141414;
}

.explore__btn:hover {
  background: #F89104;
  color: #fff;
}

.explore__btn a {
  color: #fff;
  text-decoration: none;
}

.explore__btn a:hover {
  color: #fff;
  text-decoration: none;
}


.original__address{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.copy__to__clipboard {
  border: none;
  outline: none;
  padding: 0px 2px;
  background: transparent;
  font-size: 1rem;
  color: #F89104;
  border-radius: 0px;
  transition: 0.3s;
}

.copy__to__clipboard:hover {
  color: #D87E01;
}


@media only screen and (max-width: 992px) {
  .nft__title {
    font-size: 2.8rem !important;
  }

  .creator__info h6 {
    font-size: 0.6rem !important;
  }

  .creator__info p {
    font-size: 0.7rem !important;
  }

  .buy__btn {
    padding: 4px 20px !important;
    font-size: 0.6rem !important;
  }
  .history__link a {
    font-size: 0.6rem !important;
  }
}