.nft__stars {
  color: #F89104;
}

.price__input input {
  width: 100%;
  padding: 5px 5px;
  color: #000;
  font-size: 1rem;
  background: #f5f4f4;
  border: 1px solid rgba(21, 21, 21, 0.171);
  outline: none;
}

.price__input input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #858585;
  opacity: 1; /* Firefox */
}


.owner__info {
  line-height: normal;
  margin: 0;
  padding: 0;
}

.owner__info p {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.owner__info span {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}



.price__header {
  font-size: 0.9rem;
  margin: 1em 0 0.1em 0;
}

.buy__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0px;
  transition: 0.3s;
  background: #141414;
  text-align: center;
  width: 100%;
}

.buy__btn:hover {
  background: #F89104;
  color: #fff;
}

.history__link {
  margin: 0em 0;
  background-color: #000;
  padding: 5px 30px;
  border: 1px solid #252525;
  border-radius: 0px;
  font-weight: 500;
}


.history__link {
  border: none;
  outline: none;
  padding: 0px 2px;
  background: transparent;
  font-size: 1rem;
  color: #F89104;
  border-radius: 0px;
  transition: 0.3s;
}

.history__link:hover {
  color: #D87E01;
}


.tooltip-toggle {
  cursor: pointer;
  position: relative;
}

.tooltip-toggle::before {
  position: absolute;
  top: -2em;
  left: 0px;
  background-color: #F89104;
  border-radius: 0px;
  color: #252525;
  content: attr(data-tooltip);
  padding: 0.25rem;
  text-transform: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 15em;
}

.tooltip-toggle::after {
  position: absolute;
  top: -12px;
  left: 9px;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}

.tooltip-toggle::before,
.tooltip-toggle::after {
  color: #252525;
  font-family: "Cinzel", serif;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

.tooltip-toggle:hover::before,
.tooltip-toggle:hover::after {
  opacity: 1;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}








@media only screen and (max-width: 992px) {
  .nft__title {
    font-size: 2.8rem !important;
  }

  .creator__info h6 {
    font-size: 0.6rem !important;
  }

  .creator__info p {
    font-size: 0.7rem !important;
  }

  .buy__btn {
    padding: 4px 20px !important;
    font-size: 0.6rem !important;
  }
  .history__link a {
    font-size: 0.6rem !important;
  }
}