.nft__stars {
  color: #F89104;
}

.price__input input {
  width: 100%;
  padding: 5px 5px;
  color: #000;
  font-size: 1rem;
  background: #f5f4f4;
  border: 1px solid rgba(21, 21, 21, 0.171);
  outline: none;
}

.price__input input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #858585;
  opacity: 1; /* Firefox */
}


.owner__info {
  line-height: normal;
  margin: 0;
  padding: 0;
}

.owner__info p {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.owner__info span {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}



.price__header {
  font-size: 0.9rem;
  margin: 1em 0 0.1em 0;
}

.buy__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0px;
  transition: 0.3s;
  background: #141414;
  text-align: center;
  width: 100%;
}

.buy__btn:hover {
  background: #F89104;
  color: #fff;
}









@media only screen and (max-width: 992px) {
  .nft__title {
    font-size: 2.8rem !important;
  }

  .creator__info h6 {
    font-size: 0.6rem !important;
  }

  .creator__info p {
    font-size: 0.7rem !important;
  }

  .buy__btn {
    padding: 4px 20px !important;
    font-size: 0.6rem !important;
  }
  .history__link a {
    font-size: 0.6rem !important;
  }
}