.seller__section-title h3 {
  color: #F89104;
}

.seller__column {
  width: 12%;
}

.seller__img {
  width: 80px;
  height: 80px;
}

.seller__content h5 {
  color: #141414;
  font-size: 0.8rem;
  font-weight: 200;
  margin: 0;
}

.seller__content h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #141414;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .seller__content h6 {
    font-size: 0.8rem;
  }
}