.container__settings {
  background-color: #DDD;
}

.title__text {
  color:brown;
  margin: -1em 0 0.5em 0;
}

.preview__avatar {
  cursor: pointer;
}

.sign__up p {
  font-weight: 500;
  margin: 1em 0 0 0;
  padding: 0;
}

.sign__up input {
  margin: -0.25em 0 1em 0;
}

.sign__up button {
  background: #F89104;
  border: none;
  border-radius: 0px;
  font-weight: 600;
  color: #fff;
  margin: 1em 0 0 0;
  padding: 0.5em 1em;
}

.sign__up button:hover {
  background: #D87E01;
}

.preview__info h2 {
  margin: 0.5em 0 0 0;
}

.preview__info h4 {
  margin: -0.25em 0 0.5em 0;
}


.preview__info p {
  font-size: 0.8rem;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}

.preview__card p {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  margin: 0 0 0 -1em;
  padding: 0;
}

.preview__card span {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.info__block {
  margin: 1em 0 0 0;
}

.metamask__address {
  margin: 1em 0;
}


/* OVERLAY */

.chooseAvatarOverlay {
  background: rgba(0, 0, 0, .85);
  color: black;
  display: block;
  min-height: 100vh;
  opacity: 0;
  padding: 0;
  place-content: top;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.avatar__list {
  cursor: pointer;
  margin: 0 0.5em;
  width: 10%;
}

.overlay__cancel {
  background: #F89104;
  border: none;
  border-radius: 0px;
  font-weight: 600;
  color: #fff;
  margin: 1em 0 0 0;
  padding: 0.5em 1em;
}

.overlay__cancel:hover {
  background: #D87E01;
}

/* Add Avatar Overlay */
.animateAddingOverlay {
  animation: addAvatarOverlayFadeIn 1.5s forwards;
}

@keyframes addAvatarOverlayFadeIn {
  from {
    opacity: 0;
    z-index: 1;
  }
  to {
    opacity: 1;
    z-index: 1;
  }
}


/* Remove Avatar Overlay */
.animateRemovingOverlay {
  animation: removeAvatarOverlayFadeIn 1.5s forwards;
}

@keyframes removeAvatarOverlayFadeIn {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}