.form__input input,
.form__input textarea {
  width: 100%;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: #343444;
  border: 1px solid rgba(21, 21, 21, 0.171);
  outline: none;
  border-radius: 5px;
}


.form__input {
  margin-bottom: 15px;
}

.form__input label {
  color: #000;
  margin-bottom: 3px;
}

.form__input .upload__input {
  padding: 40px 25px;
}

input::file-selector-button {
  background: #F89104;
  font-weight: bold;
  color: #fff;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 0px;
}

input[type=file]::file-selector-button:hover {
  background: #D87E01;
}

.form__input span {
  color: #F89104;
  font-style: italic;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.register__btn {
  background: #000;
  border: none;
  color: #fff;
  border-radius: 0px;
  margin: 0 0.5em;
  padding: 0.5em 1em;
}

.register__btn:hover {
  background: #F89104;
}

.sell__btn {
  background: #000;
  border: none;
  color: #fff;
  border-radius: 0px;
  margin: 0 0.5em;
  padding: 0.5em 1em;
}

.sell__btn:hover {
  background: #F89104;
}

@media only screen and (max-width: 576px) {
  .create__item {
    margin-top: 15px;
  }
}