.single__nft-img {
  border-radius: 8px;
}

.single__nft-seen span i {
  color: #fff;
  padding: 5px;
  background: #000;
  border-radius: 50px;
  cursor: pointer;
}

.single__nft-seen span{
  color: #000;
  font-size: 0.8rem;
}

.product__stars {
  background-color: #FFF;
  border: none;
  color: #F89104;
}


.single__nft-more span {
  color: #fff;
  font-size: 0.8rem;
}

.single__nft-more span i {
  background: #F89104;
  padding: 5px;
  cursor: pointer;
  border-radius: 50px;
}


.product__description {
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.nft__creator {
  background: #FAF6F1;
  border-left: 0.25em solid #F89104;
  margin-top: 2em;
  padding: 15px;
  width: 100%;
}

.creator__img {
  width: 40px;
  height: 40px;
}


.creator__detail p {
  font-family: "Cinzel", serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

.creator__detail h6 {
  color: #000;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.creator__detail h5 {
  color: #000;
  margin: 0;
  margin-top: 0.1em;
  font-family: "Cinzel", serif;
  font-size: 0.75rem;
  font-weight: 300;
}



.created__by {
  margin-top: 1em;
}

.price {
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
  margin-top: 2em;
}

.price span {
  font-weight: 600;
}


.singleNft-btn {
  padding: 8px 25px;
  background: #000;
  border: none;
  outline: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.singleNft-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.singleNft-btn a:hover {
  text-decoration: none;
  color: #fff;
}

.singleNft-btn:hover {
  background: #D87E01;
}

.singleNft-btn i {
  color: #fff;
}

.purchase__label {
  color: #fff;
}

.product__not__found {
  align-items: center;
  display: flex;
  height: 250px;
  justify-content: center;
}

.product__not__found p {
  line-height: normal;
  margin: 0;
  padding: 0;
}

.slider__outer__container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: -6em 0 0 0;
}

.slider__inner__container {
  background-color: #FFF;
  padding: 1em;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .single__nft__content h2 {
    font-size: 1.3rem;
  }

  .single__nft__content p {
    font-size: 0.8rem;
    line-height: 28px;
  }

  .nft__creator {
    width: 100%;
  }

  .singleNft-btn a {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 576px) {
  .single__nft__content h2 {
    margin-top: 15px;
  }
}